version: '3.8'

services:
  # -------------------------------------
  # 1. INFRASTRUCTURE SERVICES
  # -------------------------------------

  postgres:
    image: postgres:16-alpine
    restart: always
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  minio:
    image: minio/minio
    restart: always
    ports:
      - "9000:9000"
      - "9001:9001" # MinIO Console Port
    env_file:
      - .env
    # Start MinIO server and specify the console port
    command: server /data --console-address ":9001"
    volumes:
      - minio_data:/data

  zookeeper:
    image: confluentinc/cp-zookeeper:7.6.0
    ports:
      - "2181:2181"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000

  kafka:
    image: confluentinc/cp-kafka:7.6.0
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:29092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1

  # -------------------------------------
  # 2. APPLICATION SERVICES
  # -------------------------------------

  api:
    build:
      context: ./backend/api
    command: uvicorn main:app --host 0.0.0.0 --port 8000
    volumes:
      - ./backend/api:/app
    ports:
      - "8000:8000"
    depends_on:
      - postgres
      - kafka
      - minio
    env_file:
      - .env

  peptide_qc_worker:
    build:
      context: ./backend/workers/peptide_qc
    command: python consumer.py 
    volumes:
      - ./backend/workers/peptide_qc:/app
      - ./data/peptide_qc_data:/data/raw # Volume for mounting test files
    depends_on:
      - kafka
      - minio
    env_file:
      - .env

  colony_counter_worker:
    build:
      context: ./backend/workers/colony_counter
    command: python consumer.py
    volumes:
      - ./backend/workers/colony_counter:/app
      - ./data/colony_counter_data:/data/raw # Volume for mounting test files
    depends_on:
      - kafka
      - minio
    env_file:
      - .env

  crispr_genomics_worker:
    build:
      context: ./backend/workers/crispr_genomics
    command: python consumer.py
    volumes:
      - ./backend/workers/crispr_genomics:/app
    depends_on:
      - kafka
      - minio
    env_file:
      - .env

volumes:
  postgres_data:
  minio_data: