# Core Computer Vision Library
# Infrastructure communication
confluent-kafka
boto3
python-dotenv
minio
sqlalchemy
psycopg2-binary
# Computer Vision and Analysis
ultralytics # For YOLOv8
opencv-python
numpy              