# Core Computer Vision Library
opencv-python # This is the primary dependency for image manipulation

# High-Performance Computation
numpy # OpenCV relies heavily on NumPy arrays

# Infrastructure communication
confluent-kafka
boto3
python-dotenv
minio
sqlalchemy
psycopg2-binary